.questions {
  padding-top: 528px;

  @media (max-width:640px) {
    padding-top: 48px;
  }

  &__wrapper {
    padding-top: 80px;

    @media (max-width:640px) {
      padding-top: 40px;
    }

    .accordion {
      cursor: pointer;
      font-size: 24px;
      margin-bottom: 24px;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 900px;
      width: 100%;
      text-align: left;

      @media (max-width:520px) {
        font-size: 18px;
      }

      &:first-child {
        margin-top: 0;
      }


      &.active {
        span {
          border: 1px solid $blue;
          background-color: $blue;

          &::after {
            top: 50%;
            left: 50%;
            opacity: 1;
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &::before {
            top: 50%;
            left: 50%;
            opacity: 1;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }


      span {
        width: 47px;
        height: 47px;
        border: 1px solid $orange;
        position: relative;

        @media (max-width:640px) {
          width: 30px;
          height: 30px;
        }

        &::after,
        &::before {
          content: '';
          width: 34px;
          height: 1px;
          position: absolute;
          background-color: $orange;
          opacity: 0;
          transition: 0.5s;

          @media (max-width:640px) {
            width: 24px;
          }
        }

        &::after {
          top: 40%;
          left: 60%;
          transform: rotate(90deg);
        }

        &::before {
          top: 60%;
          left: -20%;
          transform: rotate(-90deg);
        }
      }
    }

    .panel {
      padding-left: 34px;
      font-size: 18px;
      line-height: 28px;
      border-left: 1px solid $orange;
      max-width: 766px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      @media (max-width:520px) {
        font-size: 14px;
        padding-left: 18px;
      }
    }
  }
}