$maxWidth: 1180; //set large breakpoint. unitless value in pixels.
$minWidth: 320;



$fw-regular: 400;
$fw-semiBold: 600;
$fw-medium: 500;
$fw-bold: 700;


$blue: #2A323F;
$orange: #DEA144;
$white: white;
$black: #000000;